{% extends "blog/base.html" %}

{% block content %}

    <div class="info-section">
        <h1><u>About me:</u></h1><br>
        <h3>
        <p>I'm Zoe and I'm a Computer Science student at the University of Birmingham.
        I have just completed my second year at UoB and I'll be using this site to share all things CS related!</p>
        <p>As I start my penultimate year at university, I am looking for a Year in Industry placement in Cyber Security or related areas.</p>
        <p>I love travelling, taking photos, and I always have a list on the go. I'm part of both the Wing Chun Kung Fu club and the hiking society here at UoB. I am a Student Ambassador for my course, and have recently been elected as the Treasurer for Wing Chun.</p>
        <p>Hopefully this site will give you an insight into who I am, and I intend to display more projects on here as I complete them!</p>
        </h3>
    </div>

{% endblock %}
