{% extends "blog/base.html" %}

{% block content %}

    This is my new homepage :)

    <div class="info-section">
        <h4><p>About the author:</p></h4>
        <p>Hi, I'm Zoe and I'm a Computer Science student at the University of Birmingham.
        I have just completed my first year at UoB and I'll be using this blog to share all things CS related!</p>
        <p>Here are some links that you may find interesting:</p>
        <p>link 1</p>
        <p>link 2</p>
        <p>...</p>
    </div>



{% endblock %}
