{% extends "blog/base.html" %}

{% block content %}

    <h4><p width="100%">Alongside my A levels, I completed an EPQ (Extended Project Quaification). It involved researching a topic of my choice and writing a 5000 word report.
        I chose to base this upon Self-Driving Cars, and you can read my full project below:</p></h4>

    <iframe src="https://drive.google.com/file/d/1-x9N7lCbRW9Kd7x1obvt-Jq3tRCAJalU/preview#toolbar=0&navpanes=0&scrollbar=0" width="100%" height="1100px"></iframe>


{% endblock %}
